/* Show a 'hand' mouse pointer on clickable rows */
table.clickable-rows tr:hover {
    cursor: pointer;
    background: rgba(176, 191, 175, 0.13);
}

.table-nonfluid {
    width: auto !important;
}

.modal-dialog{
    min-width:900px;
}

.red-text {
    color: red!important;
    font-size: 130%;
}

.error {
    color: red!important;
}